Kmeans_CUDA/Kmeans/x64/Debug/Kmeans.ilk
Kmeans_CUDA/Kmeans/x64/Debug/Kmeans.exp
Kmeans_CUDA/Kmeans/Kmeans/x64/Debug/Kmeans.tlog/Kmeans.write.1u.tlog
Kmeans_CUDA/Kmeans/Kmeans/x64/Debug/Kmeans.tlog/Kmeans.lastbuildstate
Kmeans_CUDA/Kmeans/Kmeans/x64/Debug/Kmeans.log
Kmeans_CUDA/Kmeans/Kmeans/x64/Debug/Kmeans.Build.CppClean.log
Kmeans_CUDA/Kmeans/x64/Debug/Kmeans.pdb
Kmeans_CUDA/Kmeans/x64/Debug/Kmeans.lib
Kmeans_CUDA/Kmeans/Kmeans/x64/Debug/kernel.cu.obj
Kmeans_CUDA/Kmeans/Kmeans/x64/Debug/kernel.cu.cache
Kmeans_CUDA/Kmeans/Kmeans/x64/Debug/Kmeans.tlog/link.write.1.tlog
Kmeans_CUDA/Kmeans/Kmeans/x64/Debug/Kmeans.tlog/link.read.1.tlog
Kmeans_CUDA/Kmeans/Kmeans/x64/Debug/Kmeans.tlog/link.command.1.tlog
Kmeans_CUDA/Kmeans/x64/Debug/Kmeans.exe
Kmeans_CUDA/Kmeans/Kmeans/x64/Debug/vc141.pdb
Kmeans_CUDA/Kmeans/Kmeans/x64/Debug/kernel.cu875172991.deps
Kmeans_CUDA/Kmeans/.vs/Kmeans/v15/ipch/AutoPCH/KMEANS-1e6d1c2f/KERNEL-6803de1d/KERNEL.ipch
Kmeans_CUDA/Kmeans/.vs/Kmeans/v15/Browse.VC.opendb
Kmeans_CUDA/Kmeans/.vs/Kmeans/v15/Browse.VC.db
Kmeans_CUDA/Kmeans/.vs/
